* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-primaria-1: hsl(225, 100%, 94%);
  --cor-primaria-2: hsl(245, 75%, 52%);
  --cor-neutra-1: hsl(225, 100%, 98%);
  --cor-neutra-2: hsl(224, 23%, 55%);
  --cor-neutra-3: hsl(223, 47%, 23%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background: url('../images/pattern-background-desktop.svg') no-repeat;
  background-size: contain;
  background-color: var(--cor-primaria-1);
  font-family: 'Red Hat Display';
}

h1 {
  font-size: 1.6rem;
  font-weight: 900;
  color: var(--cor-neutra-3);
  margin-top: 32px;
}

.director-container {
  width: 375px;
  height: 585px;
  background-color: var(--cor-neutra-1);
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.box-information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-img > img {
  max-width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}

.box-information > p {
  max-width: 30ch;
  text-align: center;
  color: var(--cor-neutra-2);
  font-size: 0.895rem;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 10px;
}

.information-container-bg {
  background-color: hsl(225, 100%, 96%);
  border-radius: 10px;
  margin-top: 20px;
}

.information-plan {
  width: 310px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px;
}

.information-plan > img {
  width: 42px;
  height: 42px;
}

.information-plan .plan {
  font-weight: 900;
  margin-right: 50px;
}

.information-plan span {
  display: block;
  margin-top: 5px;
  color: var(--cor-neutra-2);
  font-weight: 500;
}

.information-plan a {
  color: var(--cor-primaria-2);
  font-weight: 900;
  font-size: 0.825rem;
}

.btn-1 {
  border: none;
  border-radius: 10px;
  color: var(--cor-neutra-1);
  background-color: var(--cor-primaria-2);
  font-weight: 700;
  font-family: 'Red Hat Display';
  display: inline-block;
  width: 83%;
  padding: 12px 16px;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 0 20px 20px 0 hsl(245, 75%, 90%);
}

.btn-2 {
  border: none;
  background-color: transparent;
  color: var(--cor-neutra-2);
  font-family: 'Red Hat Display';
  font-size: 0.825rem;
  font-weight: 900;
  padding-top: 32px;
  cursor: pointer;
}

.attribution { 
  font-size: 1rem; 
  text-align: center;
  position: fixed; 
  bottom: 0;
  width: 100%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}